#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;	      
}
.hourglass{
    position: fixed;
    left: 0px;
    top: 0px;
    width: 100%;
    height: 100%;
    opacity: 0.4;
    filter: alpha(opacity=40); /* for IE8 and earlier */
    z-index: 9999;
    background: url("/docs/statictatic/images/loading.gif") center no-repeat #fff;}
