[Unit]
Description= start and stop couchdb for Ubuntu (systemd)

[Service]
Type=simple
StandardOutput=journal+console
StandardError=journal+console
ExecStart=/usr/bin/ssh-agent -s

[Install]
WantedBy=multi-user.target
