# Meant to be copied with:
# sudo cp init_scripts/vedavaapi_py.service /etc/systemd/system

[Unit]
Description= start and stop vedavaapi_py for Ubuntu (systemd)

[Service]
Type=simple
User=samskritam
StandardOutput=journal+console
StandardError=journal+console
WorkingDirectory=/home/samskritam/vedavaapi_py_api
ExecStart=/home/samskritam/vedavaapi_py_api/vedavaapi_py_api/run.py

[Install]
WantedBy=multi-user.target
