<!DOCTYPE html>
<html>
<!--<meta http-equiv="refresh" content="15">-->
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <head>
<link rel="stylesheet" type="text/css" href="/static/css/default.css">
    {% if title %}
    <title>IndicSearch: {{ title }}</title>
    {% else %}
    <title>IndicSearch: Visual Manuscript Decoder</title>
    {% endif %}

    <script src="/static/js/jquery.min.js"></script>
    <script src="/static/js/jquery-2.1.1.min.js"></script>
    <script src="/static/js/common.js" type="text/javascript"></script>
    <script src="/static/js/upload.js" type="text/javascript"></script>
    <script src="/static/js/client.js" type="text/javascript"></script>

    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css" rel="stylesheet" />
    <link href="http://netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap-glyphicons.css" rel="stylesheet">
  <script src="http://cdnjs.cloudflare.com/ajax/libs/jquery/2.1.1/jquery.js"></script>
    <script src="http://netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
  </head>
  <body id="mainbody1">
    <header>
    {% if title %}
    <h1>IndicSearch: {{ title }}</h1>
    {% else %}
    <h1>IndicSearch: Visual Manuscript Decoder</h1>
    {% endif %}
    <div id="servermsg">
        <div id="server" class="serverconsole">
            Server Running on:
        </div><br>
        <div id="ctrlbtns" class="ctrlbtns">
            <button id="upgrade_wlwizard" >Update Server</button>
            <button id="reportbug" value="report bug">Report Bug</button>
        </div>
        <div id="console" title="Status Messages">
            Messages: 
        </div>
    </div>
    <br>
    </header>

    <div id="bgblur">
        <!--
        <div class="hourglass" ></div>
        <div id="leftcol"></div>
        <div id="content"></div>
        --!>
        {% block content %}{% endblock %}
    </div>

<script type="text/JavaScript">
$(document).ready(function () {
     
     $(window).load(function() {
        getserverinfo();
    });
    var myurl = window.location.href;
    $('#server').html("Server Running on: "+myurl);
    
    $('#upgrade_wlwizard').click(function () {
        update_wlwizard();
    });
	$('#reportbug').click(function () {
		var newwin="target=\"_blank\"";
        window.open('/bugzilla/enter_bug.cgi',newwin);
    });

});
   
</script>
  </body>
</html>
