<!doctype html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text.html; charset=UTF-8" />
    <link rel="stylesheet" type="text/css" href="/static/css/traceserver.css">
    <link rel="stylesheet" type="text/css" href="/static/css/d3.css">
    <link rel="stylesheet" type="text/css" href="/static/css/c3.css">
    <!--<link rel="stylesheet" type="text/css" href="/static/css/heatmap.css">-->
	<link rel="stylesheet" type="text/css" href="/static/css/classic.css">
</head>

<body>

<!--<script type="text/JavaScript"
src="/static/js/jquery.min.js"></script>-->
<script src="/static/js/jquery-2.1.1.min.js"></script>
<!--<script src="/static/d3/d3.min.js"></script>
<script src="/static/d3/d3.js"></script>-->
<script src="/static/js/d3.v3.min.js"></script>
<script src="/static/js/wloadclient.js"></script>
<script src="/static/js/common.js"></script>
<script src="/static/js/jquery-ui.js"></script>
<script src="/static/js/jQRangeSlider-min.js"></script>
<script src="/static/js/date.format.js"></script>
<script src="/static/js/customplot.js"></script>
<script src="/static/js/d3-scatter.js"></script>
<script src="/static/js/dygraph-combined-dev.js"></script>
<script src="/static/js/dygraph.js"></script>
<script src="/static/js/smooth-plotter.js"></script>
<script src="/static/js/c3.js"></script>

<header>
<h1>Workload Visualizer</h1>
</header>
<div id="bgblur">
<div class="hourglass"></div>
<form id="dboardform" name="dboardform">
		  <div id="vizconsole" title="Status Messages">
			  Messages: 
		  </div>
	<table id="dboardtbl" class="wrapper">
	<tr>
		<td>
			Current Dashboard Name:
			<input type="text" size='15px' id="dboard_name" name="dboard_name" class="dplot_parms">
			<!--<input type="button" id="savebtn_dboard"  value="Save Template for Workload">
			<input type="button" id="savetmpdboard"  value="Save Generic Template">-->
			Select template type:<select name="selsave_dboards" id="selsave_dboards">
				<option value="Workload_Specific_Template" selected="selected">Workload Specific Template </option>
				<option value="Generic_Template" >Generic Template</option>
			</select>
			<input type="button" id="submit_dboard"  value="Save">
			<input type="button" id="rm_dboard"  value="Delete">
		</td>
	</tr>
	<tr>
		<td>
			Choose a Dashboard:
			<select name="avl_dboards" id="avl_dboards">
				<option value="" selected="selected">select a dashboard</option>
			</select>
		</td>
		<!--<td>
		<div id="vizconsole" title="Status Messages">
			Messages: 
		</div>
		</td>-->
	</tr>
	</table>
</form>
<form id="plot_parms" action="alert('form submitted');">
		<table>
			<tr>
				<td>
					Add data source url: <input type="text" name="csvurl" value="" onBlur="javascript:urlupload();">
				</td>
				<td style='min-width:210px;max-width:210px;' align='right'>
					Userid:
					<input type="text" size="15px" name="username" onBlur="javascript:getfiles();">
					<input type="hidden" size="15px" name="wlnames" class="dplot_parms">
				</td>
			</tr>
		</table>
		<div id ="datasrc_tbl" name="datasrc_tbl" class="dsrc_table_area"></div>
		<table>
			<tr>
				<td>
					<input type="button" id="def_custom_metric"  value="Derive Custom Metrics">
				</td>
				<td style='min-width:200px;'>
					X-axis field:<br>
					<select id="xfield" name="xfield" class="dplot_parms"></select>
				</td>
				<td>
					Plot type:
					<select id="plot_type" name="plot_type" class="dplot_parms">
						<option value=points selected="selected">Points</option>
						<option value=lines>Lines</option>
						<option value=linesp>Lines and Points</option>
						<option value=impulses>Bars</option>
						<option value=smooth>Smooth</option>
						<!--<option value=heatmap>Heatmap</option>-->
						<option value=dots>Dots</option>
						<option value=stacked>Stacked Area</option>
						<option value=pie>Pie</option>
					</select>
					Point size:
					<select name="point_size" class="dplot_parms">
						<option>0.1</option>
						<option>0.2</option>
						<option>0.3</option>
						<option>0.4</option>
						<option>0.5</option>
						<option>0.6</option>
						<option>0.7</option>
						<option>0.8</option>
						<option>0.9</option>
						<option>1.0</option>
					</select><br>
					Graph Style:
						<select name="graph_style" id="graph_style" class="dplot_parms">
							<option value="interactive" selected="selected">Interactive</option>
							<option value="gnuplot">GNU Plot</option>
						</select>
					# Plots:
					<select name="nplots" id="nplots" class="dplot_parms">
						<option>2</option>
						<option selected='selected'>4</option>
						<option>6</option>
						<option>8</option>
						<option>10</option>
					</select><br>
				</td>
			</tr>
			<tr>
				<td align='right'>
					<br>Filename filter:
					<input type="text" size='15' id="file_pattern" name="file_pattern" class="dplot_parms" onBlur="javascript:getfiles();">
					<br>Data filter:
					<input type="text" size='15' name="data_filter" class="dplot_parms"> 
					<br>Custom plot options:
					<input type="text" size='15' name="plot_opt" class="dplot_parms">
				</td>
				<td>
					Y-axis fields(s):<br>
					<select multiple="multiple" id="yfields" name="yfields" size="5" class="dplot_parms"></select>
				</td>
				<td colspan=3>
					File(s) to plot:<br>
					<select multiple="multiple" id="files" name="files"	size="5" class="dplot_parms"></select>
				</td>
			</tr>
			<tr>
				<td>
				</td>
				<td>
				</td>
				<td id="delfile"  name="delfile">
				</td>
			</tr>
		</table>
</form>
</div>
<div id='plotarea'></div>
<div id="cmetric_popup">
    <h2>Define a Custom Metric</h2>
    <form id="custom_metric" name="custom_metric" action="">
        <input id="dfield_id" type="text" style="display:none" name="dfield_id"
        value=""/>
        Selected CSV file:
        <input type="text" style="width:100%" readonly id="dfield_infile" name="dfield_infile"><br><p>
            Select Custom Metric to Edit:
            <select id="derived_fields" name="derived_fields">
                <option id="-1"></option>
            </select>
            <br><p>
        <table>
        <tr>
            <td>Metric Name:</td>
            <td>
            <input type="text" size='15' id="dfield_name" name="dfield_name">
            </td>
        </tr>
        <tr>
            <td>
            </td>
            <td>
            Available Metrics from CSV File:
            <select title="Appends selected metric to expression." id="basefields" name="basefields"/>
            </td>
        </tr>
        <tr>
            <td>Expression:</td>
            <td><textarea rows="2" cols="40" id="dfield_expr"
                name="dfield_expr"></textarea>
            </td>
        </tr>
        <tr>
            <td>Description:</td>
            <td>
            <textarea rows="2" cols="40" id="dfield_desc" name="dfield_desc"></textarea>
            </td>
        </tr>
        </table>
        <input type="button" id="savebtn_expr"  value="Save" >
    </form>
    <a id="cmetric_popup_close">Close</a>
</div>

<script type="text/JavaScript">

function selected_files(select_id)
{
    var selected = [];
    $('#'+select_id+' :selected').each(function() {
        selected.push($(this).val());
    });
    return selected;
}

function refresh_fields()
{
    var selected = $('#files option:selected').val();
    getfields(selected);
}

function url_parms() {
    var queryString = window.location.search;
    queryString = queryString.substring(1);
    var params = {}, queries, temp, i, l;

    // Split into key/value pairs
    queries = queryString.split("&");

    // Convert the array of strings into an object
    for ( i = 0, l = queries.length; i < l; i++ ) {
        temp = queries[i].split('=');
        params[temp[0]] = temp[1];
    }

    return params;
};

$(document).ready(function () {
    $(window).load(function() {
        $(".hourglass").fadeOut("slow");;
    });

    //loading all selectable workloads to table for visualizer
	var wnames = "{% if wlnames %}{{ wlnames }}{% endif %}".split(",");
    var myform = document.forms["plot_parms"];
	//var wnames = myform.elements['wlnames'].value.split(",");
	myform.elements['wlnames'].value = wnames;
	var $select_tbl = $('#datasrc_tbl');
	$select_tbl.append('<table class="wltabclass dtsource" id ="tbl_dsrc">'+
						'</table>');
	var table = $select_tbl.children();
	table.empty();
	table.append('<tr>'+
				'<th>&nbsp;</th>'+
				'<th> Data Source</th>'+
				'<th width="600">Time Range</th>'+
				'</tr>'
				);
	add_datasrc(wnames);
	var wlnames = get_selwloads('tbl_dsrc');
	//console.log("wnames;",wlnames)
    cur_dashboard['wlname']=invertdict(wlnames.idx);
	console.log("cur-dashboard:",cur_dashboard);
    inparms = url_parms();
    if (inparms['dboard_name'])
        $('#dboard_name').val(inparms['dboard_name']);
    
	//onchange checkbox after loading explorer
	//$('input[type=checkbox]').change(function () {
    $( document ).on( "change", "#tbl_dsrc >* :checkbox", chkboxchangeHandler);
     getfiles();
     setplotarea();
     getdashboards();
	/*$('#tbl_dsrc').find('input[type="checkbox"]').change(function (){
	              getfiles();
				          });*/
    // Handlers for Plotting controls
    $('#files').change(function () {
        refresh_fields();
    });
    $('#nplots').click(function () {
        setplotarea();
        render_dboard();
    });
	
	//for plot_type control (and greyout pie-chart,Stacked Area chart for gnuplot)
	$('#graph_style').on('change', function(e) {
        var graph_style = $(this).val();
		if(graph_style=='gnuplot'){
			var op = document.getElementById("plot_type").getElementsByTagName("option");
			for (var i = 0; i < op.length; i++) {
			  if (op[i].value.toLowerCase() == "pie" || op[i].value.toLowerCase() == "stacked") {
				op[i].disabled = true;
			  }
			}
		}
		else{
			var op = document.getElementById("plot_type").getElementsByTagName("option");
			for (var i = 0; i < op.length; i++) {
				if (op[i].value.toLowerCase() == "dots") {
					op[i].disabled = true;
				}
				else {
					op[i].disabled = false;//reverting to origional plot_types(every-plot-types enabled again)
				}
			}
		}
    });
	
	$('#selsave_dboards').on('change', function(e) {
		var sel_tmp_type = $(this).val();
		if (sel_tmp_type='Generic_Template'){
             $("#file_pattern").css("border","1px solid red");
			 $('#vizconsole').html('Please provide filename filter');
		}
	});
	
    // Handlers for Derive Custom Metric Form
    $('#def_custom_metric').click(function () {
        var sel_files = selected_files("files");
        if (sel_files.length > 0) {
            $('#bgblur').css('opacity','0.5');
            $('#cmetric_popup').fadeIn("slow");
            init_custom_metric_form(sel_files[0]);
        }
        else alert("Select a file first and try again!");
    });
    
    // Handlers for Dashboard Controls
   /* $('#savebtn_dboard').click(function () {
    	savedashboard();
    });
    $('#savetmpdboard').click(function () {
    	save_template_dashboard();
    });*/
    $('#submit_dboard').click(function () {
	   	$('vizconsole').html('');
    	var sel_tmp_type = $('#selsave_dboards').val();
		if (sel_tmp_type=='Generic_Template'){
		     var filepattern = $('#file_pattern').val();
			 if (filepattern !=""){
			 	save_template_dashboard();
			 }
			 else{
				alert("Filename filter field is required to save generic template");
             	$("#file_pattern").css("border","1px solid red");

			 }
		}
		else {
			 savedashboard();
		}
    });

    $('#rm_dboard').click(function () {
    	deletedashboard();
    });
    
    $('#avl_dboards').on('change', function(e) {
        get_dboard();
    });
	
	$('#graph_style').change();
});

function chkboxchangeHandler() {
	console.log("change called");
	var myform = document.forms["plot_parms"];
	$('#tbl_dsrc').each(function(){
		var wlnames = get_selwloads('tbl_dsrc');
		myform.elements['wlnames'].value = wlnames.wlnames;
		console.log("wlnames:"+wlnames.wlnames);
		getfiles();
	});
}
	
function init_custom_metric_form(sel_fname) {
    var myform = document.forms["custom_metric"];
    for (i=0;i<myform.elements.length; i++){
         $(myform.elements[i]).unbind();    
    }
    $('#dfield_infile').val(sel_fname);
    $('#dfield_name').val("");
    $('#dfield_expr').val("");
    $('#dfield_desc').val("");
    var $sel_basefields = $('#basefields');
    var dfield_json=[]
    $sel_basefields.html('');
    $('#derived_fields').empty();
    $('#derived_fields').append('<option id='+"-1"+'>'+""+'</option>');
    
    //Obtain computable fields from given CSV file
    $.getJSON('/workloads/getfields?'+serialize({'filename':sel_fname}),
        function(data){
            //console.log(data['basefields']);
            var allfields = [];
            data = data['result'];
            dfield_json = data['derivedfields']; 
            $.each(data['basefields'], function(key,val) {
                allfields.push(val);
            });
            $.each(data['derivedfields'], function(key,val) {
                $('#derived_fields').append('<option id=' + val.id +'>'+val.name+'</option>');
                allfields.push(val.name);
            });
            allfields.sort();
            $.each(allfields, function(key,val){
                $sel_basefields.append('<option id=' + key +'>'+val+'</option>');
            });
        });
    
    $('#basefields').on('change', function(e) {
        var $expr='';
        var $expr_newval = $('#dfield_expr').val();
        $expr +=$expr_newval;
        $expr +=$(this).val();
        $('#dfield_expr').val($expr);
    });
    
    $('#derived_fields').on('change', function(e) {
        var filename = $('#dfield_infile').val();
        var fid = $(this).children(":selected").attr("id");
        document.getElementById('dfield_id').value = fid;
        $('#dfield_name').val($(this).val());
        $('#dfield_expr').val("");
        $('#dfield_desc').val("");
        var selval = $(this).val();
        $.each(dfield_json,function(key,val) {
            //console.log("dfield_jsonres:"+val.name);
            if (val.name==selval) {
                $('#dfield_expr').val(val.expr);
                $('#dfield_desc').val(val.desc);
            }
            else
                return;
        });
    });

    $('#savebtn_expr').click(function () {
        save_custom_metric();
        refresh_fields();
    });

    $('#cmetric_popup_close').click(function () {
        //$('#custom_metric').empty();
        $('#cmetric_popup').fadeOut("slow");
        $('#bgblur').css('opacity','1');
    });
}

function save_custom_metric(){
    var dfield_id = $('#derived_fields').children(":selected").attr("id");
    $('#dfield_id').val(dfield_id); 
    var dfield_parms = get_formparms("custom_metric", '/dfield_.*/');
    //console.log("dfield_parms:"+serialize(dfield_parms));
    //call to server
    $.getJSON('/workloads/savefield?' + serialize(dfield_parms),
        function(data){
            //console.log("data:"+data);
            if (data['status'] == 'ok'){
                $('#cmetric_popup').fadeOut("slow");
                $('#bgblur').css('opacity','1');
            }
            else {
                alert(data['status']);
				getmsg(data['status']);	
	    	}		
        });
}


</script>
</body>
