{% extends "base.html" %}
<script src="/static/js/shapes.js" type="text/javascript"></script>
{% block content %}

<style type="text/css">

.item .thumb {
	height: 10%;
	cursor: pointer;
	float: top;
}
.item .thumb img {
	width: 140px;
	margin: 1px;
    border-style: double;
    border-width: 1px;
}

.carousel-control {
	left: -8px;
    width: 4%;
}
.carousel-control.right {
	right: -8px;
    width: 4%;
}

::-webkit-scrollbar { 
    display: none; 
}
</style>

<script type="text/javascript">
    var bpath = '{{ bookpath }}';
    {% if curpageidx %}
    var curpage = {{ curpageidx }};
    {% else %}
    var curpage = 1;
    {% endif %}
</script>


    <!--button type="button" class="btn btn-info btn-sm" onclick="saveData()">Save</button>
    <button type="button" class="btn btn-info btn-sm" onclick="zoomIn()">ZoomIn</button>
    <button type="button" class="btn btn-info btn-sm" onclick="zoomOut()">ZoomOut</button>
    <button type="button" class="btn btn-info btn-sm" data-toggle="modal" data-target="#ThumbnailModal">Open Thumbnail</button>
    <span id='scale'> </span--> 
    <input id="bookdetails" type="hidden">
    <input id="curpage" type="hidden">

<div class="navbar navbar-default">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#indicNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="#">IndicTool</a>
    </div>
    <div class="collapse navbar-collapse" id="indicNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="#" data-toggle="modal" data-target="#ThumbnailModal">Thumbnail</a></li>
        <li class="dropdown">
          <a class="dropdown-toggle" data-toggle="dropdown" href="#">Book<span class="caret"></span></a>
          <ul class="dropdown-menu">
            <li><a onclick="saveData()">Save</a></li>
            <li><a onclick="zoomIn()">ZoomIn</a></li>
            <li><a onclick="zoomOut()">ZoomOut</a></li>
          </ul>
        </li>
        <li><a href="#">Scale <span id='scale'></span></a></li>
        <li><a href="#">Admin</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="#"><span class="glyphicon glyphicon-user"></span> Sign Up</a></li>
        <li><a href="#"><span class="glyphicon glyphicon-log-in"></span> Login</a></li>
      </ul>
    </div>
  </div>
</div>


<div class="container">
  <div class="row">
    <button onclick="reparse_page()">Parse</button>
  <!-- Modal -->
  <div class="modal fade" id="ThumbnailModal" role="dialog">
    <div class="modal-dialog modal-lg">
      <!-- Modal content-->
      <div class="modal-content">
        <div class="modal-body">
        <div id="thumbcarousel" class="carousel slide" data-interval="false">
            <div id="bookidx" class="carousel-inner">
            </div><!-- /carousel-inner -->
            <a class="left carousel-control" href="#thumbcarousel" data-slide="prev">
                <span class="glyphicon glyphicon-chevron-left"></span>
            </a>
            <a class="right carousel-control" href="#thumbcarousel" data-slide="next">
                <span class="glyphicon glyphicon-chevron-right"></span>
            </a>
        </div> <!-- /thumbcarousel -->
          <button type="button" class="close" data-dismiss="modal">&times;</button>  
        </div>
      </div>
    </div>
  </div>
  
  </div> <!-- row -->
</div> <!-- container -->

<div class="container">
    <div class="row">
    <div class="col-sm-12">
        <div id="carousel" class="carousel slide" data-ride="carousel">
            <div class="canvas-outer">
                <div id='container' class="item active" style="overflow:auto; height:100vh">
                <canvas id="pageCanvas"> </canvas>
                </div>
            </div>
        </div> <!-- /carousel --> 
    </div> <!-- /col-sm-12 -->
    </div><!-- /row -->
</div> <!-- /container -->

<script type="text/javascript" src="{{ url_for('static', filename='js/shapes.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pramukhime.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/pramukhindic.js') }}"></script>
<script type="text/javascript" src="{{ url_for('static', filename='js/CanvasInput.js') }}"></script>

<script type="text/javascript">

//var canvas = document.getElementById('pageCanvas');
var container = document.getElementById('container');
//container.appendChild(canvas);
//var context = canvas.getContext('2d');

window.cState = undefined;
var curpage_annotations = {};
var curpage_sections = {};
getbook(true, bpath);

pramukhIME.addLanguage(PramukhIndic,"sanskrit");
pramukhIME.enable();

function saveData() {
    window.cState.saveShapes();
}

function zoomIn() {
    window.cState.zoomIn();
    document.getElementById("scale").innerHTML = parseFloat(window.cState.scale).toFixed(1);
}

function zoomOut() {
    window.cState.zoomOut();
    document.getElementById("scale").innerHTML = parseFloat(window.cState.scale).toFixed(1);
}

function reparse_page() {
    loadpage(true);
}

function loadpage(reparse = false) {
    var curpage = $('#curpage').val();
    if (curpage == undefined)
        return;
    console.log("Loading page " + curpage);
    var details = $('#bookdetails').val();
    var bookdetails = JSON.parse(details);
    console.log("Book Details: " + JSON.stringify(bookdetails));
    var pagedetails = bookdetails['result']['pages'][curpage];
    console.log(pagedetails);
    pgname = pagedetails['fname'];
    var fpath = bpath + "/" + pgname;
    console.log("Loading page path: " + fpath);
    var anno_id = pagedetails['anno'];
    var sec_id = pagedetails['sections'];
    window.cState = canvasStateList.get('pageCanvas',"",curpage);
    window.cState.anno_id = anno_id;

    parms = { 'reparse' : reparse };
    $.getJSON('/books/page/anno/'+anno_id+'?' + serialize(parms), function(data){
        if (! mychkstatus(data))
            return;
        console.log("Page Anno: " + JSON.stringify(data.result));
        curpage_annotations = data.result['anno'];
        window.cState = init('pageCanvas','/books/page/image/'+fpath, 
            curpage_annotations, curpage);
        console.log(window.cState);
    });

    $.getJSON('/books/page/sections?id='+sec_id, function(data){
        if (! mychkstatus(data))
            return;
        curpage_sections = data;
    });
}
</script>

<script type="text/javascript">
    var canvasStateList = new CanvasStateList();
    $(document).ready(function () {
        $('#thumbcarousel').carousel({
            interval: false
        });

        $('body').on('click','img',function(){
            console.log("Click called on "+$(this).attr("oid"));
            window.cState = canvasStateList.add('pageCanvas',$(this).attr("attr-display"), $(this).attr("oid"));
            window.cState = canvasStateList.moveTo(window.cState.name);
            setcurpage($(this).attr("oid"), $(this).attr("attr-display"));
            loadpage();
        });
/*
        $('.thumb img').click(function () {
            console.log("Click called on "+$(this).attr("oid")+"at ID: "+$(this).attr("data-slide-to"));
            setcurpage($(this).attr("data-slide-to"), $(this).attr("attr-display"));
            loadpage();
//            cState = init('pageCanvas',$(this).attr("attr-display"), oldShapes, $(this).attr("oid"));
//            $('#DataDisplay').attr("src", $(this).attr("attr-display"));
        });
*/
        $('#curpage').change(function() {
//            loadpage();
        });
    });

    document.onkeydown = function (e) {
        e = e || window.event;//Get event
        if (e.ctrlKey) {
            var c = e.which || e.keyCode;//Get key code
            switch (c) {
                case 83://Block Ctrl+S
                    saveData();
                    e.preventDefault();     
                    e.stopPropagation();
                break;
            }
        }
    };

</script>

{% endblock %}

